{% extends 'my_app/base.html' %}
{% block body_block %}
<div class="center">
        {% for posts in post_list %}
        {% if not posts.publish_date %}
        <div class="post">
                <p class ="posttitle"><a class="loader" href="{% url 'my_app:post_detail' pk=posts.pk %}"><b>{{posts.title|title}}</b></a></p>
                <div class="posttext">{{posts.text|truncatewords:20|safe|linebreaksbr}}</div><br>
                <h5><strong>{{posts.author|title}}</strong></h5>
                <h5>{{posts.create_date}}</h5>
                <a  href="{% url 'my_app:update_post' pk=posts.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
                <a class="delete" href="{% url 'my_app:delete_post' pk=posts.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-info publish-btn" href="{% url 'my_app:publish_post' pk=posts.pk %}">Publish</a>
        </div>
        {% else %}
        {%endif%}
        {% endfor %}
</div>

{% endblock %}